$body-bg: #fff;
$body-color: #3b344b;

@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/card";

.hidden {
    display: none;
}

.alter-shift {
    @include media-breakpoint-up(sm) {
        div.col-md-6:nth-child(2n) {
            margin-top: -4rem;
        }
    }
}