$white: #fff;
$off-white: #fdf6e3;
$dark: #3b344b;
$greyish-purple: #7c6e9c;
$ice: #e8f6ee;
$pale-teal: #84b89a;
$dark-green-blue: #1c5334;
$pale: #f4f1e1;
$sand: #e3ce6d;
$mud-brown: #584a0c;
$very-light-pink: #f4ebeb;
$orange-pink: #e96f68;
$red-brown: #841b15;
$ice-two: #e5f1f0;
$seafoam-blue: #7fd3cf;
$dark-green-blue-two: #195550;
$pale-two: #f1eee6;
$putty: #c3b390;
$army-green: #4f3e18;