@import "../styles/variables"; 

.card-sized {
    margin: 1rem 0;
}
.cards-container {
    margin: 1rem 0;
    div.card-sized:first-child() {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    div.card-sized:last-child() {
        margin-top: 1rem;
        margin-bottom: 0;
    }
}
.image {
    @media (min-width: 1280px) {
        max-width: 512px;
        max-height: 370px;
    }
    @media (min-width: 1024px) {
        max-width: 384px;
        max-height: 278px;
    }
    @media (min-width: 768px) {
        max-width: 304px;
        max-height: 220px;
    }
    @media (max-width: 768px) {
        max-width: 256px;
        max-height: 185px;
    }
}
.image-cram {
    width: 100%;
    margin: 1rem 0;
}
.spacer {
    height: 2rem;
}
.bump-up {
    margin-top: -10rem;
}

@mixin theme-variant($name, $bgcolor, $color) {
    .#{$name}-theme {
        background-color: $bgcolor;
        color: $color;
    }
    .btn-theme-#{$name} {
        background-color: $color;
        border-radius: 20px;
        color: $off-white;
        font-family: AvenirNext;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
    }
}

@include theme-variant('pale', $pale, $mud-brown);
@include theme-variant('ice', $ice, $dark-green-blue);
@include theme-variant('very-light-pink', $very-light-pink, $red-brown);
@include theme-variant('ice-two', $ice, $dark-green-blue-two);
@include theme-variant('pale-two', $pale-two, $army-green);